.registerWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/assets/images/recipes-header-bg.jpg");
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.registerContainer {
  width: 60%;
  height: 80vh;
  display: flex;
  padding: 20px;
  box-shadow: 1px 1px 5px 1px rgba(75, 82, 75, 0.5);
  background-color: white;
}

.registerContainer > div {
  width: 50%;
  height: 100%;
}

.registerImg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.registerForm {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* height: "100vh"; */
}

.registerForm h2 {
  position: absolute;
  top: 10px;
  font-size: 2rem;
  color: rgb(70, 155, 72);
  /* text-shadow: 2px 2px 3px rgb(0, 0, 0); */
}

.registerForm button {
  color: #3eae76;
  width: 60%;
  border-color: #3eae76;
}

.registerForm button:hover {
  /* color: #3eae76; */
  border-color: #5eb58a;
}

.registerInput {
  width: 80%;
}

.registerInput label {
  color: rgb(70, 155, 72);
}

.registerInput > div::before {
  border-bottom: 1px solid rgba(70, 155, 72, 0.42);
}

.registerInput > div:hover ::before {
  border-bottom: 1px solid rgba(70, 155, 72, 0.8);
}

@media (max-width: 1500px) {
  .registerContainer {
    width: 70%;
    min-height: 70vh;
  }
}

@media (max-width: 1250px) {
  .registerContainer {
    width: 75%;
    min-height: 60vh;
  }
}

@media (max-width: 1100px) {
  .registerContainer {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .registerContainer {
    width: 90%;
    min-height: 55vh;
  }
}

@media (max-width: 850px) {
  .registerWrapper {
    background-image: url("/public/assets/images/register.jpg");
  }

  .registerImg {
    display: none;
  }
  .registerContainer {
    flex-direction: column;
    height: 60vh;
    min-height: 60vh;
    width: 65%;
  }
  .registerContainer > div {
    width: 100%;
  }
  .registerImg {
    width: 100%;
  }
  .registerForm {
    width: 100%;
  }
  .registerForm h2 {
    position: relative;
  }
}


@media (max-width: 600px) {
  
  .registerContainer {
    width: 85%;
    min-height: 65vh;
  }
}

@media (max-width: 380px) {
  
  .registerContainer {
    min-height: 80vh;
  }

}

@media (max-width: 330px) {
  
  .registerContainer {
    min-height: 100vh;
  }

}