.navbarContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  left: 0;
  top: 0;
  padding: 12px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarButtons {
  all: unset;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.navbarButtons a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.navbarContent {
  display: flex;
  gap: 10px;
}

.navbarContent a {
  all: unset;
  color: rgb(62, 174, 118);
  text-transform: capitalize;
  cursor: pointer;
}
